<p class="title is-3 has-text-centered">Productos</p>
<% product_types = {"drink" => ["Bebestible", "mug-saucer"], "food" => ["Comida", "utensils"], "souvenir" => ["Souvenir", "gift"]}%>

<div class="columns is-centered">
    <div class="column"></div>
        <div class="column has-text-centered">
            <%= link_to "Crear", products_new_path, class: "button is-rounded is-link home_button" %>
        </div>
        <div class="column"></div>
</div>
        <div>
            <div id="product-filter">
                <div class="product-filter-button-container">
                    <div class="product-filter-button product-filter-all">
                        <div>
                            <i class="product-filter-icon fa-solid fa-square-check">
                            </i>
                        </div>
                            Filtros
                        </div> 
                    </div>
                <% product_types.each do |type, product| %>
                    <div class="product-filter-button-container">
                        <input type="checkbox" class="product-filter-square" id="product-filter-<%= type %>" value="<%= type %>" > 
                        <label for="product-filter-<%= type %>">
                            <div class="product-filter-button product-filter-<%= type %>">
                                <div>
                                    <i class="product-filter-icon fa-solid fa-<%= product[1] %>">
                                    </i>
                                </div>
                                    <%= product[0] %>
                                </div> 
                            
                        </label>
                    </div>
                <% end %>
            </div>
        </div>
    
<div class="main_movie_times_container">
    <% @filter.each do |product|%>
          <div class="product-container product-<%= product.category %>">
              <div class="product-name product-filter-<%= product.category %>" >
                    

                  <div class="title is-5 has-text-white"><%= product.name %></div>
              </div>
<div class="product-icon">
                            <i class="fa-solid fa-<%= product_types[product.category][1] %>"></i>
</div>
              <div class="product-details" >
                  <div class="has-text-white"><%= product.price_string %></div>
              <%if product.size.present? %>
                    <p class="has-text-white"><%= product.size_string %></p>
                
              <%end%>
              </div>
              <div class="product-options">
                <%= link_to "", products_edit_path(product.id), class: ' product-option-icon is-light is-outlined button   fa-regular fa-pen-to-square'%>
                <div>
                <%= button_to "", products_destroy_path(product.id), :method => "delete", class: 'product-option-icon is-light is-outlined button  fa-regular fa-trash-can'  %>
                </div>
              </div>
          </div>
    <% end %>
</div>
<div class="columns is-centered">
    <div class="column"></div>
    <div class="column has-text-centered">
        <%=link_to "Volver", home_path, class: "button is-rounded is-link home_button" %>
    </div>
    <div class="column"></div>
</div>

<% content_for :head do %>
  <%= javascript_import_module_tag "products" %>
<% end %>